@import 'https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap';

@import "tailwindcss";

:root {}

@theme inline {}


body {
  font-family: 'Poppins', 'ui-sans-serif', 'system-ui';
}